<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Teste de Math</title>
		</head>
	<body>

		<h1>Finalmente o html deu certo</h1>
		<h2>JavaScript Math.round()</h2>

<p>Math.round(x) retorna o valor de x arredondado para o numero inteiro mais próximo:</p>

<p id="demo"></p>

<script>
document.getElementById("demo").innerHTML = Math.round(4.4);
</script>

	</body>
</html>
