<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>
		</head>
	<body>

		<h1>Finalmente o html deu certo</h1>
		
		<img src="img/noticia.jpg" alt="figura sobre noticia" width="500" height="600">

	</body>
</html>
